:root {
    --backgroundColorMain: #7E846B;
    --backgroundColorCard: #cad4cf;
    --backgroundColorQuestion: #3D3626;
    --textColorDark: #100D04;
    --textColorLight: #D0DDD7;
    --lightAccentColor: #A5AE9E;

}

body {
    background-color: var(--backgroundColorMain);
}

.main {
    background-color: var(--backgroundColorCard);
}

.questionOptions {
    background-color: var(--backgroundColorQuestion);
}

