:root {
  --colorMain: #4e3a87;
  --colorSecondary: #9f86c0;
  --colorLight: #f3cfe3;
  --colorDark: #231942;
  --textColorDark: #100d04;
  --textColorLight: #d0ddd7;
  --lightAccentColor: #a5ae9e;
  --backgroundGradientMain: linear-gradient(
    315deg,
    hsla(255, 45%, 18%, 1) 0%,
    hsla(255, 41%, 29%, 1) 54%,
    hsla(256, 35%, 46%, 1) 100%
  );
  --borderRadius: 10px;
  --backgroundGradientLight: linear-gradient(
    225deg,
    hsla(319, 36%, 81%, 1) 10%,
    hsla(266, 32%, 64%, 1) 41%,
    hsla(274, 50%, 35%, 1) 85%
  );
}

body {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  margin: 0 auto;
  font-family: "Cabin", sans-serif;
}

header {
  background-color: var(--colorLight);
}

.main {
  background-color: var(--colorLight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  width: 50vw;
  min-height: 50vh;
  overflow: hidden;
  border-radius: var(--borderRadius);
}

.questionContainer {
  background-color: var(--colorSecondary);
  position: relative;
  top: -4rem;
  padding: 1.8rem 2rem;
  border-radius: var(--borderRadius);
}

.hide {
  display: none;
}

.btn {
  border: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-image: var(--backgroundGradientLight);
  padding: 1rem 2rem;
  border-radius: var(--borderRadius);
  font-family: "Cabin", sans-serif;
  border: #231942 solid 1px;
}
